:root {
  --baby-powder: #fdfffcff;
  --rich-black: #011627ff;
  --mantis: #78bc61ff;

  --black: #000000ff;
  --paynes-gray: #5d737eff;
  --maize: #fff07cff;
  --mint-cream: #f0f7eeff;
  --cambridge-blue: #87bba2ff;
  --red-cmyk: #ff0022ff; 
  --melon: #ffa69eff;
  --eggshell: #faf3ddff;
  --celeste: #b8f2e6ff;
  --light-blue: #aed9e0ff;
  --paynes-gray: #5e6472ff;
  --cerise: #db2763ff;
  --yellow-green: #b0db43ff;
  --fluorescent-cyan: #12eaeaff;
  --uranian-blue: #bce7fdff;
  --lilac: #c492b1ff; 
  --turquoise: #41ead4ff;
  --cyclamen: #fe64a3ff;
  --rose-pompadour: #f6839cff;
  --melon: #f0b5b3ff;
  --red-violet: #b91372ff;
  --blue-crayola: #3772ffff;
  --poppy: #df2935ff;
  --sunglow: #fdca40ff;
  --steel-blue: #1982c4ff;
  --ultra-violet: #6a4c93ff;
  
}

body {
  background-color: var(--rich-black);
  color: var(--black);
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #995050;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
